OPENAI_API_KEY=
# Do not set NEXT_PUBLIC_OPENAI_API_KEY -- insecure

WEBHOOK_URL_LAB_ORDER=
WEBHOOK_URL_FOLLOW_UP=
POSTGRES_URL_NON_POOLING="postgres://postgres.[PASSWORD]:[PROJECT]@aws-0-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require"
